name: CI

on:
  push:
    branches:
      - main
      - master
  pull_request:
    branches:
      - main
      - master
  workflow_dispatch:

jobs:
  self-care:
    name: Flake self-check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Check Nix flake inputs
        uses: DeterminateSystems/flake-checker-action@v5
        with:
          fail-mode: true

  config-tests:
    name: ${{ matrix.os-name }} config test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            os-name: "Linux x86"
          - os: macos-latest
            os-name: "macOS x86"
          - os: macos-14
            os-name: "macOS Apple Silicon"
    steps:
      - uses: actions/checkout@v4

      - name: "Install Nix"
        uses: DeterminateSystems/nix-installer-action@v11

      - name: "Nix Cache"
        uses: DeterminateSystems/magic-nix-cache-action@v4

      - name: "Test Flake"
        run: nix flake check .

      - name: "Build nixvim"
        run: nix build -L '.#nvim'

      - name: "Build lazynvim"
        run: nix build -L '.#lazynvim'
